.appointment-side-content {
  padding: 10px;
  border-right: 1px solid black;
}

.calendar-container {
  width: 100%;
}

.appointment-main-container {
  display: flex;
  margin-top: 52px;
}

.calendar-toolbar {
  display: flex;
}

.rangeRender {
  flex-grow: 1;
  align-self: center;
}

.modal-container {
  display: flex;
  width: 100%;
  justify-content: center;
}